header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 6em;
    z-index: 10000000;
}
header .desktop{
    list-style: none;
    display: flex;
    align-items: center;
}
header .desktop .logo img{
    width: 3em;
    height: 3em;
}
header .desktop li{
    margin: 0 5px;
}
header .desktop li a{
    text-decoration: none;
    color: #ffffff;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
    transition-duration: 0.3s;
    border-radius: 4px;
}
header .header-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .header-btn .M1{
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
    transition-duration: 0.3s;
    border-radius: 4px;
    margin: 0 10px;
}
header .desktop li a:hover{
    background-color: #ffffff;
    color: #000000;
}