.container-usuarios{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.container-usuarios .usuarios{
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 6px;
}
.container-usuarios .usuarios p{
    font-size: 16px;
    color: #383838;
    font-weight: 500;
    margin-bottom: 5px;
}