.logado{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.logado .menu{
    width: 20%;
    height: 100vh;
    background-color: #ffffffaa;
}
.logado .content{
    width: 80%;
    height: 100vh;
    background-color: #000000aa;
}