.form-content{
    width: 100%;
    height: 100vh;
    padding: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-content form{
    background-color: #000000aa;
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 4px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-content form h2{
    font-size: 2em;
    color: #ffffff;
}
.form-content form input{
    background-color: #00000000;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    outline: none;
    transition: width .3s ease-in-out;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease;
    margin: 20px 0;
}
.form-content form input:focus{
    border-bottom: 3px solid #ffffff;
    transition: width .2s ease-in-out;
}
.form-content form input[type="submit"]{
    outline: none;
    width: 150px;
    height: 35px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease;
    margin: 10px 0;
    cursor: pointer;
}
.form-content form input[type="submit"]:hover{
    background-color: #ffffff;
    color: #000000;
}