.mobile-header{
    display: none;
}
@media (max-width: 1040px){
    .main-header{
        display: none !important;
    }
    .mobile-header{
        display: flex;
    }
    .mobile-header .open{
        width: 25px;
        height: 25px;
        cursor: pointer;
        filter: invert(1);
        top: 25px;
        right: 6em;
    }
    .mobile-header .close{
        width: 25px;
        height: 25px;
        cursor: pointer;
        position:fixed;
        top: 25px;
        right: 1em;
    }
    .mobile-header .mobile{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000000;
        list-style: none;
        text-align: center;
        padding: 3em 1em;
    }
    .mobile-header .mobile li{
        position: relative !important;
        padding: 10px 20px !important;
        margin: 8px 0 !important;
        background-color: #ffffff !important;
    }
    .mobile-header .mobile li a{
        width: 100% !important;
        text-decoration: none !important;
        color: #000000 !important;
        font-size: 20px !important;
        font-weight: 500 !important;
    }
    .main .texts h1{
        font-size: 60px !important;
        color: #ffffff !important;
    }
    .pedido .container-pedido{
        grid-template-columns: repeat(3, 1fr) !important;
      }
    .pedido .container-pedido .card-pedido{
        max-width: 100% !important;
        min-width: 100% !important;
    }
    
}
@media (max-width: 500px){
    /* pagina inicial */
    .sobre,.projetos,.conte,.contato,.footer,
    /* escola de fundamentos */
    .descricao
    /* pedido de oração */
    .pedido{
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 20px 1em !important;
        z-index: 100 !important;
    }
    .container-mestres{
        width: 100% !important;
        height: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(4, 1fr) !important;
        grid-gap: 20px !important;
        padding: 20px 1em !important;
        z-index: 100 !important;
    }
    .main{
        display: flex !important;
        align-items: center !important;
        width: 100% !important;
        height: 100vh !important;
        background-image: url('../img/fundo2.png') !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        padding: 0 1em !important;
    }
    header{
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        width: 100% !important;
        padding: 20px 1em !important;
        z-index: 10000000 !important;
    }
    .main .texts h1{
        font-size: 40px !important;
        color: #ffffff !important;
    }
    .main .texts h3{
        font-weight: 400 !important;
        font-size: 20px !important;
        color: #ffffff !important;
    }
    .main .texts h3 span{
        color: #b1b1b1 !important;
    }
    .pedido .container-pedido{
        grid-template-columns: 1fr !important;
    }
    .pedido .container-pedido .card-pedido{
        max-width: 100% !important;
        min-width: 100% !important;
    }
}
@media (max-width: 1250px){
    .container-mestres{
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
        grid-gap: 20px !important;
    }
}
@media (max-width: 986px){
    .container-mestres{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-gap: 20px !important;
    }
}
@media (max-width: 720px){
    .container-mestres{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-gap: 20px !important;
    }
}
@media (max-width: 1020px){
    .containe-desq-edf{
        height: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 6em 3em !important;
        border-radius: 0 0 40% 40%
    }
    .containe-desq-edf .img-container{
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .containe-desq-edf .objetivo{
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .containe-desq-edf .img-container img{
        max-width: 30em !important;
        min-width: 20em !important;
        height: auto !important;
    }
}
@media (max-width: 1140px){
    .conte .cotent-times{
        grid-template-columns: repeat(3, 1fr) !important;
    }
}
@media (max-width: 1110px){
    .projetos .container-projetos{
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .projetos .container-projetos .card-projetos{
        max-width: 100% !important;
        min-width: 100% !important;
    }
    .galeria .container-galeria{
        grid-template-columns: repeat(3, 1fr) !important;
    }
}
@media (max-width: 880px){
    .galeria .container-galeria{
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media (max-width: 650px){
    .galeria .container-galeria{
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .galeria .container-galeria .card-img{
        min-width: 100% !important;
        height: 100% !important;
    }
}
@media (max-width: 850px){
    .projetos .container-projetos{
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .projetos .container-projetos .card-projetos{
        max-width: 100% !important;
        min-width: 100% !important;
    }
    .contato .container-contato{
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        flex-direction: column !important;
    }
    .contato .container-contato .left{
        width: 100% !important;
        height: 100% !important;
        padding: 2% !important;
    }
    .contato .container-contato .rigth{
        width: 100% !important;
        height: 100% !important;
        padding: 2% !important;
    }
    .sobre,.projetos,.galeria,.conte,.contato,.footer,.pedido{
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 2% !important;
        z-index: 100 !important;
    }
    .pedido .container-pedido{
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .pedido .container-pedido .card-pedido{
        max-width: 100% !important;
        min-width: 100% !important;
    }
}
@media (max-width: 740px){
    .conte .cotent-times{
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media (max-width: 500px){
    .conte .cotent-times{
        grid-template-columns: repeat(1, 1fr) !important;
    }
}
@media (max-width: 610px){
.pedido .container-pedido{
    grid-template-columns: 1fr !important;
}
.pedido .container-pedido .card-pedido{
    max-width: 100% !important;
    min-width: 100% !important;
}
}