.mobile-header{
    display: none;
}
@media (max-width: 1040px){
    .main-header{
        display: none;
    }
    .mobile-header{
        display: flex;
    }
    .mobile-header .open{
        width: 25px;
        height: 25px;
        cursor: pointer;
        filter: invert(1);
        top: 25px;
        right: 6em;
    }
    .mobile-header .close{
        width: 25px;
        height: 25px;
        cursor: pointer;
        position:fixed;
        top: 25px;
        right: 6em;
    }
    .mobile-header .mobile{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000000;
        list-style: none;
        text-align: center;
        padding: 3em 6em;
    }
    .mobile-header .mobile li{
        position: relative;
        padding: 10px 20px;
        margin: 8px 0;
        background-color: #ffffff;
    }
    .mobile-header .mobile li a{
        width: 100%;
        text-decoration: none;
        color: #000000;
        font-size: 20px;
        font-weight: 500;
    }
    .main .texts h1{
        font-size: 60px;
        color: #ffffff;
    }
    .pedido .container-pedido{
        grid-template-columns: repeat(3, 1fr) !important;
      }
    .pedido .container-pedido .card-pedido{
        max-width: 100%;
        min-width: 100%;
    }
    
}
@media (max-width: 500px){
    /* pagina inicial */
    .sobre,.projetos,.conte,.contato,.footer,
    /* escola de fundamentos */
    .descricao
    /* pedido de oração */
    .pedido{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 1em !important;
        z-index: 100;
    }
    .container-mestres{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        padding: 20px 1em;
        z-index: 100;
    }
    .main{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-image: url('../img/fundo2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 0 1em;
    }
    header{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px 1em;
        z-index: 10000000;
    }
    .main .texts h1{
        font-size: 40px;
        color: #ffffff;
    }
    .main .texts h3{
        font-weight: 400;
        font-size: 20px;
        color: #ffffff;
    }
    .main .texts h3 span{
        color: #b1b1b1;
    }
    .pedido .container-pedido{
        grid-template-columns: 1fr !important;
    }
    .pedido .container-pedido .card-pedido{
        max-width: 100%;
        min-width: 100%;
    }
}
@media (max-width: 1250px){
    .container-mestres{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}
@media (max-width: 986px){
    .container-mestres{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media (max-width: 720px){
    .container-mestres{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}
@media (max-width: 1020px){
    .containe-desq-edf{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6em 3em;
        border-radius: 0 0 40% 40%
    }
    .containe-desq-edf .img-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .containe-desq-edf .objetivo{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containe-desq-edf .img-container img{
        max-width: 30em;
        min-width: 20em;
        height: auto;
    }
}
@media (max-width: 1140px){
    .conte .cotent-times{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1110px){
    .projetos .container-projetos{
        grid-template-columns: repeat(2, 1fr);
    }
    .projetos .container-projetos .card-projetos{
        max-width: 100%;
        min-width: 100%;
    }
}
@media (max-width: 850px){
    .projetos .container-projetos{
        grid-template-columns: repeat(1, 1fr);
    }
    .projetos .container-projetos .card-projetos{
        max-width: 100%;
        min-width: 100%;
    }
    .contato .container-contato{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .contato .container-contato .left{
        width: 100%;
        height: 100%;
        padding: 2%;
    }
    .contato .container-contato .rigth{
        width: 100%;
        height: 100%;
        padding: 2%;
    }
    .sobre,.projetos,.conte,.contato,.footer,.pedido{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
        z-index: 100;
    }
    .pedido .container-pedido{
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .pedido .container-pedido .card-pedido{
        max-width: 100%;
        min-width: 100%;
    }
}
@media (max-width: 740px){
    .conte .cotent-times{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px){
    .conte .cotent-times{
        grid-template-columns: repeat(1, 1fr) !important;
    }
}
@media (max-width: 610px){
.pedido .container-pedido{
    grid-template-columns: 1fr;
}
.pedido .container-pedido .card-pedido{
    max-width: 100%;
    min-width: 100%;
}
}