<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Language" content="pt-br">
<meta name="description" content="Casa de Adoração Worship Home, Uma igreja que ama a Deus e ama pessoas. Buscando ao Senhor e clamando pelo Avivamento sobre a Terra! Somos Igreja, Somos Casa, Somos Familia.">
<meta name="author" content="Jonathas Oliveira">
<meta name="keywords" content="casadeadoracao,casa,de,adoração,casa,de,adoracao,casadeadoração,casa de adoração, casa de adoracao">
<meta name="robots" content="index,follow">
<meta property="og:locale" content="pt_BR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Casa de Adoração - Worship Home">
<meta property="og:description" content="Casa de Adoração Worship Home, Uma igreja que ama a Deus e ama pessoas. Buscando ao Senhor e clamando pelo Avivamento sobre a Terra! Somos Igreja, Somos Casa, Somos Familia.">
<meta property="og:url" content="https://casadeadoracao.net.br">
<meta property="og:site_name" content="Casa de adoracao">
<meta property="article:publisher" content="https://casadeadoracao.net.br" />
<meta property="og:image" content="https://casadeadoracao.net.br/public/img/readme.jpg">

<link rel="shortcut icon" href="../public/img/logobranco.ico" type="image/x-icon" sizes="256x256">
<link rel="stylesheet" href="../public/css/style.css">
<link rel="stylesheet" href="../public/css/responsive.css">
<link rel="stylesheet" href="../public/css/header.css">
<link rel="stylesheet" href="../public/css/resetstylepage.css">
<link rel="stylesheet" href="../public/css/login.css">
<link rel="stylesheet" href="../public/css/logado.css">
<link rel="stylesheet" href="../public/css/pedido.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>