<main class="contato" id="contato">
    <h1 class="tema">Contato</h1>
    <div class="container-contato">
        <div class="left">
            <p><%= data_iniciosobre[0].contato.sobre %></p>
            <div class="content-links">
                <% for(let i = 0; i < contat.length; i++) { %>
                    <a href="<%= contat[i].url %>"><img src="<%= contat[i].img %>" alt="<%= contat[i].title %>"><h4><%= contat[i].title %></h4></a>
                <% } %>
            </div>
        </div>
        <div class="rigth">                
            <form method="POST" action="/contatos">
                <div class="forminputs">
                    <input type="text" name="name" placeholder="Nome">
                    <input type="number" name="number" placeholder="Telefone" />
                </div>
                <input type="text" class="message" placeholder="Sua menssagem" required="" name="menssagem">
                <div class="formbtns">
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</main>