<form action="/cursodemembresia" method="post" id="form" class="forminputs">
  <input type="text" required name="nome" placeholder="Nome">
  <input type="date" required name="nascimento" placeholder="Data de nascimento" />
  <input type="tel"  required name="telefone" placeholder="Telefone" />
  <input type="text" required name="estadocivil" placeholder="Estado Civil" />
  <input type="text" required name="natural" placeholder="Natural de?" />
  <input type="text" required name="enereco" placeholder="Endereço"/>
  <input type="submit" value="Enviar">
</form>
<%-  include('./partials/components/formcdm.html') %>