<main class="galeria">
  <h1 class="tema">Galeria</h1>
  <section class="container-galeria">
      <div class="card-img">
          <img src="../public/img/galeria/miniatura/miniatura (1).jpg" alt="">
      </div>
      <div class="card-img">
          <img src="../public/img/galeria/miniatura/miniatura (1).png" alt="">
      </div>
      <div class="card-img">
          <img src="../public/img/galeria/miniatura/miniatura (2).jpg" alt="">
      </div>
      <div class="card-img">
          <img src="../public/img/galeria/miniatura/miniatura (2).png" alt="">
      </div>
      <div class="card-img">
          <img src="../public/img/galeria/miniatura/miniatura (3).png" alt="">
      </div>
      <div class="card-img">
          <img src="../public/img/galeria/miniatura/miniatura (4).jpg" alt="">
      </div>
      <div class="card-img">
          <img src="../public/img/galeria/miniatura/miniatura (4).png" alt="">
      </div>
      <div class="card-img">
          <img src="../public/img/galeria/miniatura/miniatura (5).jpg" alt="">
      </div>
      <div class="card-img">
          <img src="../public/img/galeria/miniatura/miniatura (5).png" alt="">
      </div>
      <div class="card-img">
          <img src="../public/img/galeria/miniatura/miniatura (6).png" alt="">
      </div>
      <div class="card-img">
          <img src="../public/img/galeria/miniatura/miniatura (7).png" alt="">
      </div>
      <div class="card-img">
          <img src="../public/img/galeria/miniatura/miniatura (8).png" alt="">
      </div>
      <div class="card-img">
          <img src="../public/img/galeria/miniatura/miniatura (9).png" alt="">
      </div>
  </section>
</main>