<header class="main-header">
    <ul class="desktop">
        <div class="logo">
            <a href="/"><img src="../public/img/logobranco.png" alt=""></a>
        </div>
        <li><a href="/">Inicio</a></li>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#projetos">Projetos</a></li>
        <li><a href="#galeria">Galeria</a></li>
        <li><a href="#contato">Contato</a></li>
        <!-- <li><a href="/blog">Blog</a></li> -->
    </ul>
    <div class="header-btn">
        <a class="M1" href="/pedidosdeoracao">Pedido de Oração</a>
        <a class="M1" href="/cursodemembresia">Curso de membresia</a>
    </div>
</header>

<header class="mobile-header">
    <div class="logo">
        <a href="/"><img src="../public/img/logobranco.png" alt=""></a>
    </div>
    <div class="menu-icon">
        <img class="open" src="./public/img/svgs/menu.svg" alt="">
    </div>
    <ul class="mobile">
        <img class="close" src="./public/img/svgs/close.svg" alt="">
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#projetos">Projetos</a></li>
        <li><a href="#galeria">Galeria</a></li>
        <li><a href="#contato">Contato</a></li>
        <!-- <li><a href="/blog">Blog</a></li> -->
        <li><a class="M1" href="/pedidosdeoracao">Pedido de Oração</a></li>
        <li><a class="M1" href="/cursodemembresia">Curso de membresia</a></li>
    </ul>
</header>