<header class="main-header">
    <div class="logo">
        <img src="../public/img/logobranco.png" alt="">
    </div>
    <ul class="desktop">
        <li><a href="/">Inicio</a></li>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#projetos">Projetos</a></li>
        <li><a href="#galeria">Galeria</a></li>
        <li><a href="#contato">Contato</a></li>
        <li><a class="M1" href="/pedidosdeoracao">Pedido de Oração</a></li>
        <!-- <a class="M1" href="/pedidosdeoracao">Curso de membresia</a> -->
    </ul>
    <!-- <div class="header-btn">
    </div> -->
</header>

<header class="mobile-header">
    <div class="logo">
        <img src="../public/img/logobranco.png" alt="">
    </div>
    <div class="menu-icon">
        <img class="open" src="./public/img/svgs/menu.svg" alt="">
    </div>
    <ul class="mobile">
        <img class="close" src="./public/img/svgs/close.svg" alt="">
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#projetos">Projetos</a></li>
        <li><a href="#galeria">Galeria</a></li>
        <li><a href="#contato">Contato</a></li>
        <li><a class="M1" href="/pedidosdeoracao">Pedido de Oração</a></li>
    </ul>
</header>