<header class="main-header">
    <div class="logo">
        <h3><%= data_iniciosobre[0].inicio.logo_1 %> <span><%= data_iniciosobre[0].inicio.logo_2 %></span></h3>
    </div>
    <ul class="desktop">
        <li><a href="/">Inicio</a></li>
        <li><a href="/">Sobre</a></li>
        <li><a href="/">Projetos</a></li>
        <li><a href="/">Contado</a></li>
        <li><a href="/escoladefundamentos">Escola de Fundamentos</a></li>
    </ul>
</header>

<header class="mobile-header">
    <div class="logo">
        <h3><%= data_iniciosobre[0].inicio.logo_1 %> <span><%= data_iniciosobre[0].inicio.logo_2 %></span></h3>
    </div>
    <div class="menu-icon">
        <img class="open" src="./public/img/svgs/menu.svg" alt="">
    </div>
    <ul class="mobile">
        <img class="close" src="./public/img/svgs/close.svg" alt="">
        <li><a href="/">Inicio</a></li>
        <li><a href="/">Sobre</a></li>
        <li><a href="/">Projetos</a></li>
        <li><a href="/">Contado</a></li>
        <li><a href="/escoladefundamentos">Escola de Fundamentos</a></li>
    </ul>
</header>