<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.html') %>
    <title>Blog | Casa de Adoração</title>
</head>
<body>
    <%- include('./partials/components/header.html') %>
    <main class="container-noticia">
        <div class="content-container">
            <% for(let i = 0; i < post.length; i++) { %>
                <div class="card">
                    <a href="/blog/<%= post[i].id %>">
                        <h1><%= post[i].title %> <p>Categoria: <%= post[i].category %></p></h1>
                        <p><%= post[i].createdAt %> por: <strong><%= post[i].autor %></strong></p>
                    </a>
                    <p class="conteudo"><%- post[i].body %> <strong>...</strong></p>
                </div>
            <% }%>
        </div>

        <div class="containernoticiasrecentesmain">
            <div class="search">
                <form action="/blog/search" method="post" class="search__form" role="search">
                    <input type="search" aria-label="Seach" id="searchInput" name="searchTerm" placeholder="Pesquise...">
                    <button type="submit"><img src="../public/img/svgs/search.svg" alt=""></button>
                </form>
            </div>

            <!-- <div class="categoria">
                <h1 class="titulo">Categorias</h1>
                <div class="conatiner-categorias">
                    <a href="/">Artigo</a>
                    <a href="/">Noticias</a>
                    <a href="/">Pregações</a>
                    <a href="/">Orações</a>
                    <a href="/">Eventos</a>
                </div>
            </div> -->

            <div class="container-noticias-recentes">
                <h1 class="titulo">Publicados recentes</h1>
                <% for(let i = 0; i < nLimit.length; i++) { %>
                    <div class="card">
                        <a href="/blog/<%= nLimit[i].id %>">
                            <h1><%= nLimit[i].title %><p>Categoria: <%= nLimit[i].category %></p></h1>
                            <p><%= nLimit[i].createdAt %> por: <strong><%= nLimit[i].autor %></strong></p>
                            <p class="conteudo"><%- nLimit[i].body %>...</p>
                        </a>
                    </div>
                <% }%>
            </div>
        </div>
    </main>

    <%- include('./partials/components/contato.html') %>
    <%- include('./partials/components/footer.html') %>
    <script src="../public/js/main.js"></script>
    <script src="../public/js/script.js"></script>
</body>
</html>