<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.html') %>
    <title>Casa de Adoração</title>
    <style>
      .containe-desq-edf .img-container img{
          width: 10em;
          height: auto;
      }
    </style>
</head>
<body>
    <%- include('./partials/components/header.html') %>
    <main class="containe-desq-edf">
      <div class="img-container">
          <img src="../public/img/logobranco.png" alt="imagem escola de fundamentos">
      </div>
      <div class="objetivo">
          <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ad deleniti cum enim velit hic repellendus, dolorem maxime? Delectus eum dolorum voluptatem tempora libero accusamus labore corporis doloribus inventore repellat.</h4>
      </div>
    </main>

    <main class="container-cursom">

        <!-- <a href="#form" id="btn" class="insc-open">
            <img src="../public/img/svgs/document.svg" alt="">
            Fazer Inscrição
        </a> -->
        <button class="insc-close">Inscrições fechadas</button>

        <form action="/cursodemembresia" method="post" id="form" class="forminputs">
            <input type="text" required name="nome" placeholder="Nome">
            <input type="date" required name="nascimento" placeholder="Data de nascimento" />
            <input type="tel"  required name="telefone" placeholder="Telefone" />
            <input type="text" required name="estadocivil" placeholder="Estado Civil" />
            <input type="text" required name="natural" placeholder="Natural de?" />
            <input type="text" required name="enereco" placeholder="Endereço"/>
            <input type="submit" value="Enviar">
        </form>
    </main>

    
    <%- include('./partials/components/contato.html') %>
    <%- include('./partials/components/footer.html') %>
    <script>
        const btn = document.getElementById('btn');
        const form = document.getElementById('form');
        btn.addEventListener('click', (e)=>{
            form.style.visibility = 'visible'
            form.style.opacity = '1'
            form.style.height = '100%'
            e.preventDefault()
        })
        </script>
    <script src="../public/js/main.js"></script>
</body>
</html>