<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.html') %>
    <title>Casa de Adoração | EDF</title>
</head>
<body>
    <%- include('./partials/components/header.html') %>

    <main class="containe-desq-edf">
        <div class="img-container">
            <img src="../public/img/new/edf.png " alt="imagem escola de fundamentos">
        </div>
        <div class="objetivo">
            <h4><%- edf[0].objetivo %></h4>
        </div>
    </main>

    <%- include('./partials/components/descefd.html') %>

    <main class="container-mestres">
        <% for(let i = 0; i < edfmestres.length; i++) { %>
            <div class="card-mestres">
                <div class="img">
                    <img src="<%= edfmestres[i].avatar %>" alt="">
                </div>
                <div class="text">
                    <h1><%= edfmestres[i].nome %></h1>
                    <p><%= edfmestres[i].denominacao %></p>
                </div>
            </div>
        <% } %>
    </main>

    <%- include('./partials/components/contato.html') %>
    <%- include('./partials/components/footer.html') %>

    <script src="../public/js/main.js"></script>
    <script src="../public/js/script.js"></script>
</body>
</html>