<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head.html') %>
</head>
<body>

    <%- include('./partials/contents/header.html') %>
    <%- include('./partials/contents/main.html') %>
    <%- include('./partials/contents/sobre.html') %>
    <%- include('./partials/contents/projetos.html') %>
    <%- include('./partials/contents/conteconsco.html') %>
    <%- include('./partials/contents/contato.html') %>
    <%- include('./partials/contents/footer.html') %>
    <script src="../public/js/main.js"></script>
</body>
</html>