<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.html') %>
    <title>Casa de Adoração</title>
</head>
<body>
    <%- include('./partials/components/header.html') %>
    <%- include('./partials/components/main.html') %>
    <%- include('./partials/components/sobre.html') %>
    <%- include('./partials/components/projetos.html') %>
    <%- include('./partials/components/galeria.html') %>
    <%- include('./partials/components/conteconsco.html') %>
    <%- include('./partials/components/contato.html') %>
    <%- include('./partials/components/footer.html') %>

<div class="cookie-content">
    <div class="titles">
        <img src="../public/img/cookie.png" alt="">
        <h1>Cookies</h1>
    </div>
    <p>Este site usa cookies para garantir que você obtenha a melhor experiência em nosso site.</p>
    <button class="button">Eu entendo</button>
</div>

    <script src="../public/js/main.js"></script>
    <script src="../public/js/script.js"></script>
</body>
</html>