<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.html') %>
    <title>Casa de Adoração</title>
</head>
<body>
    <%- include('./partials/components/header.html') %>
    <%- include('./partials/components/main.html') %>
    <%- include('./partials/components/sobre.html') %>
    <%- include('./partials/components/projetos.html') %>

    <main class="galeria">
        <h1 class="tema">Galeria</h1>
        <section class="container-galeria">
            <div class="card-img">
                <img src="../public/img/galeria/miniatura/miniatura (1).jpg" alt="">
            </div>
            <div class="card-img">
                <img src="../public/img/galeria/miniatura/miniatura (1).png" alt="">
            </div>
            <div class="card-img">
                <img src="../public/img/galeria/miniatura/miniatura (2).jpg" alt="">
            </div>
            <div class="card-img">
                <img src="../public/img/galeria/miniatura/miniatura (2).png" alt="">
            </div>
            <div class="card-img">
                <img src="../public/img/galeria/miniatura/miniatura (3).png" alt="">
            </div>
            <div class="card-img">
                <img src="../public/img/galeria/miniatura/miniatura (4).jpg" alt="">
            </div>
            <div class="card-img">
                <img src="../public/img/galeria/miniatura/miniatura (4).png" alt="">
            </div>
            <div class="card-img">
                <img src="../public/img/galeria/miniatura/miniatura (5).jpg" alt="">
            </div>
            <div class="card-img">
                <img src="../public/img/galeria/miniatura/miniatura (5).png" alt="">
            </div>
            <div class="card-img">
                <img src="../public/img/galeria/miniatura/miniatura (6).png" alt="">
            </div>
            <div class="card-img">
                <img src="../public/img/galeria/miniatura/miniatura (7).png" alt="">
            </div>
            <div class="card-img">
                <img src="../public/img/galeria/miniatura/miniatura (8).png" alt="">
            </div>
            <div class="card-img">
                <img src="../public/img/galeria/miniatura/miniatura (9).png" alt="">
            </div>
        </section>
    </main>    

    <%- include('./partials/components/conteconsco.html') %>
    <%- include('./partials/components/contato.html') %>
    <%- include('./partials/components/footer.html') %>

    <script src="../public/js/main.js">
        // const openMenu = document.querySelector('.mobile');
        // const btnOpen = document.querySelector('.open');
        // const btnClose = document.querySelector('.close');

        // btnOpen.addEventListener('click', function() {
        //     openMenu.style.display = 'block';
        // })
        // btnClose.addEventListener('click', function() {
        //     openMenu.style.display = 'none';
        // })
    </script>
</body>
</html>