<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head.html') %>
</head>
<body>
    <%- include('./partials/components/header.html') %>

    <main class="logado">
        <h1>Seja bem vindo <%= nome %> </h1>
    </main>
    <%- include('./partials/components/footer.html') %>

    <script>
        var link_ = document.getElementById('link_');
        link_.addEventListener('click', (e)=>{
            e.preventDefault();
        })
        const openMenu = document.querySelector('.mobile');
        const btnOpen = document.querySelector('.open');
        const btnClose = document.querySelector('.close');

        btnOpen.addEventListener('click', function() {
            openMenu.style.display = 'block';
        })
        btnClose.addEventListener('click', function() {
            openMenu.style.display = 'none';
        })
     </script>
</body>
</html>