<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.html') %>
    <title>Casa de Adoração</title>
</head>
<body>
    <%- include('./partials/components/header.html') %>

    <main class="pedido">
        
      <form method="POST" action="/pedidosdeoracao">
        <h1>Faça seu pedido de oração!</h1>
        <input type="text" name="name" required id="" placeholder="Nome">
        <input type="text" name="telefone" required id="" placeholder="Telefone">
        <textarea name="pedido" id="" required placeholder="Seu Pedido"></textarea>
        <input class="submit" type="submit" value="Enviar">
        <input type="hidden" name="redirectTo" value="/">
      </form>

    </main>
    <%- include('./partials/components/footer.html') %>

    <script>
        const submitBtn = document.querySelector('submit');
        submitBtn.addEventListener('click',(e)=>{
            e.preventDefault();
            alert('Oração enviada com sucesso!');
        })

        const openMenu = document.querySelector('.mobile');
        const btnOpen = document.querySelector('.open');
        const btnClose = document.querySelector('.close');

        btnOpen.addEventListener('click', function() {
            openMenu.style.display = 'block';
        })
        btnClose.addEventListener('click', function() {
            openMenu.style.display = 'none';
        })
    </script>
</body>
</html>