<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.html') %>
    <title>postesn.title Blog | Casa de Adoração</title>
</head>
<body>
    <%- include('./partials/components/header.html') %>

    <main class="container-noticia-post">
      <div class="content-container">
        <div class="card-post">
          <a href="/blog" class="voltar"><img src="../public/img/svgs/back.svg" alt=""> Voltar</a>
          <h1><%= postesn.title %></h1>
          <p><%= postesn.createdAt %> por <%= postesn.autor %></p>
          <p class="conteudo-descricao"><%- postesn.body %></p>
        </div>
      </div>
  </main>

    <%- include('./partials/components/contato.html') %>
    <%- include('./partials/components/footer.html') %>
    
    <script src="../public/js/main.js"></script>
    <script src="../public/js/script.js"></script>
</body>
</html>