<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.html') %>
    <title><%= postesn.title %> Blog | Casa de Adoração</title>
</head>
<body>
    <%- include('./partials/components/header.html') %>

    <main class="container-noticia-post">
      <div class="content-container">
        <div class="card-post">
          <a href="/blog" class="voltar"><img src="../public/img/svgs/back.svg" alt="">Voltar</a>
          <h1><%= postesn.title %></h1>
          <p>Categoria: <strong><%= postesn.category %></strong></p>
          <p><i><%= postesn.createdAt %></i> por: <strong><%= postesn.autor %></strong></p>
          <p class="conteudo-descricao"><%- postesn.body %></p>
        </div>
      </div>

      <form action="/blog/<%= postesn._id %>/comment" method="POST">
        <h2>Adicionar Comentário</h2>
        <div class="content-form">
          <div class="left">
            <textarea id="comment" name="comment" rows="4" required placeholder="Comentário"></textarea>
          </div>
          <div class="right">
            <input type="text" id="name" name="name" required placeholder="Nome">
            <input type="submit" value="Enviar Comentário">
          </div>
        </div>
      </form>

      <div class="comment">
        <h2>Comentários</h2>
        <% comments.forEach(comment => { %>
          <div class="card">
            <div class="title"> 
              <h3><%= comment.name %>:</h3> 
              <span><%= comment.createdAt %></span>
            </div>
            <p><%= comment.comment %></p>
          </div>
        <% }); %>
      </div>

  </main>

    <%- include('./partials/components/contato.html') %>
    <%- include('./partials/components/footer.html') %>
    
    <script src="../public/js/main.js"></script>
    <script src="../public/js/script.js"></script>
</body>
</html>